<section class="flex-1 w-full p-10 md:p-16 lg:p-24">
    
    <div class="flex flex-col md:flex-row md:justify-between mt-4">        
        <h1 class="text-blue-500 uppercase tracking-extra-wide text-xs mb-6 md:mb-0">About Me</h1>
        <a download href="Kyle Wetton-–Front-End Developer-2020.pdf" target="_blank" rel="noreferrer" class="btn btn--icon text-xs  tracking-widest">Download resumé (PDF) <span class="jam jam-download"></span></a>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-16 md:gap-16 lg:gap-32 text-sm text-gray-400 mt-10 md:mt-24 content">
        <div>
            <h2 class="text-lg serif mb-10">Track Record</h2>
            <p>In 2008, I delved into graphic design as a hobby after college where I studied music production and theory. Soon after, I started working for Torpedo7 and their child company 1-day.co.nz. I led the creative team photographing and designing ad-hoc marketing assets for over 10,000 products during my four year employment. During my time there I learned to be a skilled Photoshop artist.</p>
                
            <p>Around 2009 I started learning digital development as my next hobby and built websites for local businesses in my spare time. In 2012 I moved to Auckland, working as a developer and designer for Blackfoot, an advertising agency based in Ponsonby. For the next 8 years I have been working as the digital coordinator, single handedly creating all digital work from Blackfoot. I keep up with modern industry trends and consider development both a career choice and a personal hobby.</p>
        </div>
        
        <div class="grid grid-cols-2 md:grid-cols-2 xl:grid-cols-3 gap-10 md:gap-5 lg:gap-20 xl:gap-10 items-baseline">
            <img class="mx-auto w-40 opacity-0 brand-logo" src="assets/eden-park.svg" alt="">
            <img class="mx-auto w-40 opacity-0 brand-logo" src="assets/rialto.svg" alt="">
            <img class="mx-auto w-40 opacity-0 brand-logo" src="assets/bridgestone.svg" alt="">
            <img class="mx-auto w-40 opacity-0 brand-logo" src="assets/new-balance.svg" alt="">
            <img class="mx-auto w-40 opacity-0 brand-logo" src="assets/torpedo7.svg" alt="">
            <img class="mx-auto w-40 opacity-0 brand-logo" src="assets/shiseido.svg" alt="">
            <img class="mx-auto w-40 opacity-0 brand-logo" src="assets/lockwood.svg" alt="">
            <img class="mx-auto w-40 opacity-0 brand-logo" src="assets/smeg.svg" alt="">
            <img class="mx-auto w-40 opacity-0 brand-logo" src="assets/ssangyong.svg" alt="">
        </div>
        
        <div>
            <h2 class="text-lg serif mb-10">The Technical Stuff</h2>
            <div class="grid grid-cols-3 gap-5 mb-6">
                <span class="text-blue-500">Toolset</span> <span class="col-span-2">Adobe Creative Suite, Blender, Figma (plus Adobe XD / Sketch), Visual Studio Code</span>
                <span class="text-blue-500">Programming</span> <span class="col-span-2">HTML, (S)CSS, JavaScript, PHP, C#, Liquid, Node</span>
                <span class="text-blue-500">Frameworks / Libraries</span> <span class="col-span-2">React, React Native, Redux, ThreeJS, Tailwindcss, Webpack, Babel, WordPress, Shopify</span>
            </div>
            <a href="https://github.com/kylewetton/portfolio-2020" target="_blank" rel="noreferrer" class="btn btn--icon text-xs tracking-widest">View the repo for this website <span class="jam jam-arrow-up-right"></span></a>
        </div>
        <div>
            <h2 class="text-lg serif mb-10">Special Interests</h2>
            <p>Away from the screen, I'm hard at work as a musician. I've been playing guitar for 19 years and tour the country performing on the weekends. I'm a regular at Homegrown and have had the pleasure of playing all the major arenas in New Zealand.</p>
        </div>
    </div>
</section>