<div class="flex flex-col lg:flex-row h-full">
    <div class="flex-1 portrait bg-cover bg-center relative overflow-hidden">
        <img alt="Portrait backround" width="1080" height="1080" id="js-portrait-background" src="assets/portrait-background.jpg" class="object-cover h-full w-full" style="transform: scale(1.02);">
        <div id="js-portrait" class="absolute inset-0 bg-cover bg-center" style="background-image: url('assets/portrait-front.png')"></div>
    </div>
    <section class="flex-1 justify-center items-center flex px-10 py-24">
        <div class="max-w-xl">
            <h1 class="text-blue-500 uppercase tracking-extra-wide text-xs">Kyle Wetton</h1>
            <h2 class="serif text-gray-400 my-10 text-2xl">
                I'm a senior <span class="text-white">front-end developer</span> based in Auckland, New Zealand with a strong background in both <span class="text-white">digital development</span> and <span class="text-white">modern design</span>.
            </h2>
            <p class="text-gray-400 mb-10">I also have a wealth of experience in <span class="text-white">print design</span>, <span class="text-white">photo retouching</span>, <span class="text-white">motion effects</span> and <span class="text-white">3D visualisation</span>.</p>
            <a href="/projects" data-href="projects" class="btn btn--icon navigate">View Projects <span class="jam jam-arrow-right"></span></a>
        </div>
    </section>
</div>