<section class="flex-1 w-full p-10 md:p-16 lg:p-24">
    
    <div class="flex flex-col md:flex-row justify-between">
    <h1 class="text-blue-500 uppercase tracking-extra-wide text-xs mt-4 mb-4 md:mb-0">Projects</h1>
    <div class="flex items-center"><span class="jam jam-info text-blue-500 mr-3"></span> <p class="text-xs text-gray-500"><span class="desktop hidden">Hover over</span> <span class="mobile hidden">Tap</span> the designs to cycle through views</p></div>
    
    </div>

    <div id="projects">
        <article class="flex flex-col lg:flex-row w-full py-10 md:py-20">
            <div class="flex-1 lg:pl-24 lg:order-2">
                <div class="image-carousel">
                    <img class="shadow-lg slide active rounded-sm " src="/assets/projects/eden-park.jpg" alt="Eden Park">
                    <img class="shadow-lg slide rounded-sm " src="/assets/projects/eden-park-2.jpg" alt="Eden Park">
                    <img class="shadow-lg slide rounded-sm " src="/assets/projects/eden-park-3.jpg" alt="Eden Park">
                </div>
            </div>
            <div class="lg:flex-shrink-0 flex justify-center items-center text-white">
                <div class="project-description">
                    <h2 class="serif text-xl">Eden Park</h2>
                    <p class="strong text-xs text-gold uppercase tracking-widest">New Zealand’s National Stadium</p>
                    <span class="bg-black text-xs uppercase rounded-full px-4 pt-2 pb-2 inline-block leading-none my-6">Design + Development</span>
                    <p class="mt-2 text-sm text-gray-300">Eden Park were in need of a brand new website to launch them into 2020 that could handle hundreds of daily visitors, they had a website that lacked identity and had poor user experience. I was happy to single-handedly complete project for them from planning to deployment and have since extended the website with a custom seat finder and 24/7 turf live stream.</p>
                </div>
            </div>
        </article>
        
        <article class="flex flex-col lg:flex-row w-full py-10 md:py-20">
            <div class="flex-1 lg:pl-24 lg:order-2">
                <div class="image-carousel">
                    <img class="shadow-lg slide active rounded-sm " src="/assets/projects/rialto.jpg" alt="Rialto">
                    <img class="shadow-lg slide rounded-sm " src="/assets/projects/rialto-2.jpg" alt="Rialto">
                    <img class="shadow-lg slide rounded-sm " src="/assets/projects/rialto-3.jpg" alt="Rialto">
                </div>
            </div>
            <div class="lg:flex-shrink-0 flex justify-center items-center text-white">
                <div class="project-description">
                    <h2 class="serif text-xl">Rialto Distribution</h2>
                    <p class="strong text-xs text-gold uppercase tracking-widest">New Zealand & Australia</p>
                    <span class="bg-black text-xs uppercase rounded-full px-4 pt-2 pb-2 inline-block leading-none my-6">Design + Development</span>
                    <p class="mt-2 text-sm text-gray-300">Rialto Distribution houses the extensive catalogue of films under their banner. Their old website was dated to say the least, and was riddled with cross pollination of country specific content. I did a complete overhaul of both design and development, and incorporated dynamically shifting content that adjusts to the users location.</p>
                </div>
            </div>
        </article>
        
        <article class="flex flex-col lg:flex-row w-full py-10 md:py-20">
            <div class="flex-1 lg:pl-24 lg:order-2">
                <div class="image-carousel">
                    <img class="shadow-lg slide active rounded-sm " src="/assets/projects/us-global-1.jpg" alt="US Global Tax">
                    <img class="shadow-lg slide rounded-sm " src="/assets/projects/us-global-2.jpg" alt="US Global Tax">
                    <img class="shadow-lg slide rounded-sm " src="/assets/projects/us-global-3.jpg" alt="US Global Tax">
                </div>
            </div>
            <div class="lg:flex-shrink-0 flex justify-center items-center text-white">
                <div class="project-description">
                    <h2 class="serif text-xl">US Global Tax</h2>
                    <p class="strong text-xs text-gold uppercase tracking-widest">Redesign and content refocus</p>
                    <span class="bg-black text-xs uppercase rounded-full px-4 pt-2 pb-2 inline-block leading-none my-6">Design</span>
                    <p class="mt-2 text-sm text-gray-300">With a shifting political climate and quite honestly outrageous bills that are being passed in the USA at the moment, US Global Tax needed a new website that flipped the message from "this is us" to "this is what you need". This design is an overhaul of their current website to deliver that message.</p>
                </div>
            </div>
        </article>
        
        <article class="flex flex-col lg:flex-row w-full py-10 md:py-20">
            <div class="flex-1 lg:pl-24 lg:order-2">
                <div class="image-carousel">
                    <img class="shadow-lg slide active rounded-sm " src="/assets/projects/tile-depot-1.jpg" alt="Tile Depot">
                    <img class="shadow-lg slide rounded-sm " src="/assets/projects/tile-depot-2.jpg" alt="Tile Depot">
                    <img class="shadow-lg slide rounded-sm " src="/assets/projects/tile-depot-3.jpg" alt="Tile Depot">
                </div>
            </div>
            <div class="lg:flex-shrink-0 flex justify-center items-center text-white">
                <div class="project-description ">
                    <h2 class="serif text-xl">Tile Depot</h2>
                    <p class="strong text-xs text-gold uppercase tracking-widest">Online store redesign</p>
                    <span class="bg-black text-xs uppercase rounded-full px-4 pt-2 pb-2 inline-block leading-none my-6">Design</span>
                    <p class="mt-2 text-sm text-gray-300">Tile Depot wanted a refresh of their flagship ecommerce website and this design was later built to acommodate their extensive range of products.</p>
                </div>
            </div>
        </article>
        
        <article class="flex flex-col lg:flex-row w-full py-10 md:py-20">
            <div class="flex-1 lg:pl-24 lg:order-2">
                <div class="vidya mb-12 lg:mb-0" data-file="ubiety_ar"></div>
                
            </div>
            <div class="lg:flex-shrink-0 flex justify-center items-center text-white">
                <div class="project-description">
                    <h2 class="serif text-xl">Ubiety</h2>
                    <p class="strong text-xs text-gold uppercase tracking-widest">AR-Ready 3D Product Customiser</p>
                    <span class="bg-black text-xs uppercase rounded-full px-4 pt-2 pb-2 inline-block leading-none my-6">JavaScript Library</span>
                    <p class="mt-2 text-sm text-gray-300">Ubiety is a passion project with the aim of bringing a more engaging shopping experience to users online. The core library is scalable to handle any kind of product you throw at it, rendered in realtime 3D. It also supports dynamically created AR-ready files for the user to take advantage of the awesome mobile features available to us today.</p>
                </div>
            </div>
        </article>
        
        <article class="flex flex-col lg:flex-row w-full py-10 md:py-20">
            <div class="flex-1 lg:pl-24 lg:order-2">
                <div class="vidya mb-12 lg:mb-0" data-file="deviceful"></div>
            </div>
            <div class="lg:flex-shrink-0 flex justify-center items-center text-white">
                <div class="project-description">
                    <h2 class="serif text-xl">Deviceful</h2>
                    <p class="strong text-xs text-gold uppercase tracking-widest">Commandable devices for web designs</p>
                    <span class="bg-black text-xs uppercase rounded-full px-4 pt-2 pb-2 inline-block leading-none my-6">JavaScript Library</span>
                    <p class="mt-2 text-sm text-gray-300">A project I completed recently, Deviceful is an advanced alternative to displaying design composites in PNG frames that are common on portfolio websites. The library comes with both a mobile and laptop model that can be controlled via JavaScript with an advanced with a powerful custom animation API.</p>
                </div>
            </div>
        </article>

        <article class="flex flex-col lg:flex-row w-full py-10 md:py-20">
            <div class="flex-1 lg:pl-24 lg:order-2">
                <div class="image-carousel">
                    <img class="shadow-lg slide active rounded-sm " src="/assets/projects/image-compare-viewer.jpg" alt="Image Compare Viewer">
                    <img class="shadow-lg slide rounded-sm " src="/assets/projects/image-compare-viewer-2.jpg" alt="Image Compare Viewer">
                </div>
            </div>
            <div class="lg:flex-shrink-0 flex justify-center items-center text-white">
                <div class="project-description">
                    <h2 class="serif text-xl">Image Compare Viewer</h2>
                    <p class="strong text-xs text-gold uppercase tracking-widest">A modern comparison slider</p>
                    <span class="bg-black text-xs uppercase rounded-full px-4 pt-2 pb-2 inline-block leading-none my-6">JavaScript Library</span>
                    <p class="mt-2 text-sm text-gray-300">There were no comparison sliders written in vanilla JavaScript that were any good, everyone relied on obsolete jQuery plugins so I made this Image Compare Viewer and it's become the go-to for many appliations that need this niche feature.</p>
                </div>
            </div>
        </article>

        <article class="flex flex-col lg:flex-row w-full py-10 md:py-20">
            <div class="flex-1 lg:pl-24 lg:order-2">
                <div class="image-carousel">
                    <img class="shadow-lg slide active rounded-sm " src="/assets/projects/ikea-1.jpg" alt="Ikea">
                    <img class="shadow-lg slide rounded-sm " src="/assets/projects/ikea-2.jpg" alt="Ikea">
                    <img class="shadow-lg slide rounded-sm " src="/assets/projects/ikea-3.jpg" alt="Ikea">
                </div>
            </div>
            <div class="lg:flex-shrink-0 flex justify-center items-center text-white">
                <div class="project-description">
                    <h2 class="serif text-xl">IKEA</h2>
                    <p class="strong text-xs text-gold uppercase tracking-widest">3D design and print ad concept</p>
                    <span class="bg-black text-xs uppercase rounded-full px-4 pt-2 pb-2 inline-block leading-none my-6">Design</span>
                    <p class="mt-2 text-sm text-gray-300">This concept was a personal exercise in the pipeline from blueprints of a product to a photorealistic print advertisement to practice 3D modelling.</p>
                </div>
            </div>
        </article>

        <div class="flex my-10">
            <h2 class="text-blue-500 uppercase tracking-extra-wide text-xs flex-1 mr-10">Code playground projects</h2>
            <p class="mb-10 text-sm text-gray-300 flex-2">Here's a collection of small Codepens I've done for fun, not strictly tidy in terms of code, but inventive enough to show here.</p>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">

            <div class="mb-10">
                <h2 class="serif text-base text-white">Stacy – Codrops Tutorial</h2>
                <p class="strong text-xs text-gold uppercase tracking-widest">Hover and Click on Stacy</p>
                <iframe class="mt-10" height="475" style="width: 100%;" scrolling="no" title="Character Tutorial - Final" src="https://codepen.io/kylewetton/embed/WNNeyWJ?height=481&theme-id=dark&default-tab=result" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                See the Pen <a href='https://codepen.io/kylewetton/pen/WNNeyWJ'>Character Tutorial - Final</a> by Kyle Wetton
                (<a href='https://codepen.io/kylewetton'>@kylewetton</a>) on <a href='https://codepen.io'>CodePen</a>.
                </iframe>
                <p class="mt-4 text-sm text-gray-300">One of three tutorials I wrote for Codrops, Stacy is a fully animated 3D character that dynamically responds to mouse position and click events. This was ported over to React Three Fiber by it's creator and can be found in their featured examples on their repo page.</p>
            </div>

            <div class="mb-10">
                <h2 class="serif text-base text-white">Dynamic Colour Changing</h2>
                <p class="strong text-xs text-gold uppercase tracking-widest">Colour changing bitmapped images</p>
                <iframe class="mt-10" height="475" style="width: 100%;" scrolling="no" title="Color this sofa! – SVG + Blend Mode trick" src="https://codepen.io/kylewetton/embed/OJLmJoV?height=474&theme-id=dark&default-tab=result" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                    See the Pen <a href='https://codepen.io/kylewetton/pen/OJLmJoV'>Color this sofa! – SVG + Blend Mode trick</a> by Kyle Wetton
                    (<a href='https://codepen.io/kylewetton'>@kylewetton</a>) on <a href='https://codepen.io'>CodePen</a>.
                    </iframe>
                <p class="mt-4 text-sm text-gray-300">An idea I had was a novel way of tackling dynamically colour adjusting bitmap images, an SVG is overlayed on top of a PNG, and using the CSS filter attribute I multiplied the colour onto the PNG. I posted this on Twitter and was pleased to see it go viral. It placed within the top 10 Codepens for 2019 and was shared with praise by Addy Osami, the Senior Engineering Manager at Google and an article was written about it by Chris Coyer, the founder of CodePen and CSS Tricks. I later wrote a tutorial at Codrops to document the novel idea.</p>
            </div>

            <div class="mb-10">
                <h2 class="serif text-base text-white">Stonks – Sparklines Renderer</h2>
                <p class="strong text-xs text-gold uppercase tracking-widest">My introduction into the Canvas API</p>
                <iframe class="mt-10" height="475" style="width: 100%;" scrolling="no" title="Stonks – Sparklines Renderer" src="https://codepen.io/kylewetton/embed/qBOZmpP?height=475&theme-id=dark&default-tab=result" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                    See the Pen <a href='https://codepen.io/kylewetton/pen/qBOZmpP'>Stonks – Sparklines Renderer</a> by Kyle Wetton
                    (<a href='https://codepen.io/kylewetton'>@kylewetton</a>) on <a href='https://codepen.io'>CodePen</a>.
                    </iframe>
                <p class="mt-4 text-sm text-gray-300">The canvas API was something that almost got by me because I never needed it. I changed that by creating this small library to learn the fundamentals.</p>
            </div>

            <div class="mb-10">
                <h2 class="serif text-base text-white">Lightweight Circle Graphs</h2>
                <p class="strong text-xs text-gold uppercase tracking-widest">Bucketlist backlog management</p>
                <iframe class="mt-10" height="475" style="width: 100%;" scrolling="no" title="Lightweight Circle Graphs" src="https://codepen.io/kylewetton/embed/LYpzMLE?height=347&theme-id=dark&default-tab=result" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                    See the Pen <a href='https://codepen.io/kylewetton/pen/LYpzMLE'>Lightweight Circle Graphs</a> by Kyle Wetton
                    (<a href='https://codepen.io/kylewetton'>@kylewetton</a>) on <a href='https://codepen.io'>CodePen</a>.
                    </iframe>
                <p class="mt-4 text-sm text-gray-300">Ever since these first dropped back in the day, I really wanted to figure out how to make them. Several attempts throughout the years to create this in CSS, finally I managed it and moved on.</p>
            </div>

            <div class="mb-10">
                <h2 class="serif text-base text-white">Procedural Mountain Generator</h2>
                <p class="strong text-xs text-gold uppercase tracking-widest">A deepdive into SVG path snytax</p>
                <iframe class="mt-10" height="475" style="width: 100%;" scrolling="no" title="Procedural Mountains" src="https://codepen.io/kylewetton/embed/oNvEXYM?height=475&theme-id=dark&default-tab=result" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                    See the Pen <a href='https://codepen.io/kylewetton/pen/oNvEXYM'>Procedural Mountains</a> by Kyle Wetton
                    (<a href='https://codepen.io/kylewetton'>@kylewetton</a>) on <a href='https://codepen.io'>CodePen</a>.
                    </iframe>
                <p class="mt-4 text-sm text-gray-300">This was a tough one and I'm stoked with the outcome. Each mountain is generated procedurally based on a whole bunch of alorithms. I'm shy about the code, but I was pleased that Chris Heilmann (Senior Program manager for Microsoft / Author) reached out to me to praise the work I did on it.</p>
            </div>

            <div class="mb-10">
                <h2 class="serif text-base text-white">Space Impact 50x100</h2>
                <p class="strong text-xs text-gold uppercase tracking-widest">50x100px limitation competition entry</p>
                <iframe class="mt-10" height="475" style="width: 100%;" scrolling="no" title="Micro Space Impact!" src="https://codepen.io/kylewetton/embed/NWKwqBv?height=475&theme-id=dark&default-tab=result" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                    See the Pen <a href='https://codepen.io/kylewetton/pen/NWKwqBv'>Micro Space Impact!</a> by Kyle Wetton
                    (<a href='https://codepen.io/kylewetton'>@kylewetton</a>) on <a href='https://codepen.io'>CodePen</a>.
                    </iframe>
                <p class="mt-4 text-sm text-gray-300">A competition entry where the limitation was do anything a 50x100px element. You may need to load this in a new window to control it (this is an iframe limitation).</p>
            </div>

            <div class="mb-10">
                <h2 class="serif text-base text-white">Pure CSS Panda</h2>
                <p class="strong text-xs text-gold uppercase tracking-widest">Because why not?</p>
                <iframe class="mt-10" height="475" style="width: 100%;" scrolling="no" title="Pure CSS panda" src="https://codepen.io/kylewetton/embed/RqoYPg?height=475&theme-id=dark&default-tab=result" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                    See the Pen <a href='https://codepen.io/kylewetton/pen/RqoYPg'>Pure CSS panda</a> by Kyle Wetton
                    (<a href='https://codepen.io/kylewetton'>@kylewetton</a>) on <a href='https://codepen.io'>CodePen</a>.
                    </iframe>
                <p class="mt-4 text-sm text-gray-300">This was a very well received pen, I created this animated panda with pure CSS as an idle-handles project.</p>
            </div>


            <div class="mb-10">
                <h2 class="serif text-base text-white">Pure CSS Clock</h2>
                <p class="strong text-xs text-gold uppercase tracking-widest">With current time set via JS</p>
                <iframe class="mt-10" height="475" style="width: 100%;" scrolling="no" title="Minimalist Clock, Pure CSS with current time" src="https://codepen.io/kylewetton/embed/QJbOjw?height=474&theme-id=dark&default-tab=result" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                    See the Pen <a href='https://codepen.io/kylewetton/pen/QJbOjw'>Minimalist Clock, Pure CSS with current time</a> by Kyle Wetton
                    (<a href='https://codepen.io/kylewetton'>@kylewetton</a>) on <a href='https://codepen.io'>CodePen</a>.
                    </iframe>
                <p class="mt-4 text-sm text-gray-300">This is simply a minimalist clock created with CSS, JavaScript converts a timestamp into a CSS animation offset to display the current time on load.</p>
            </div>


        </div>
        
    </div>

</section>
